*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    anchor-name: --myanchor;
}

.box{
    width: 200px;
    height: 200px;
    
}

.red{
    background-color: rgb(167, 9, 9);
}

.blue{
    background-color: rgb(17, 17, 150);
}

.green{
    background-color: green;
    /* anchor-name: --myanchor; */
}

.box:hover{
    anchor-name: --myanchor;
}
.anchor-box{
    background-color: rgb(212, 211, 211);
    border-radius: 20px;
    position: absolute;
    top: anchor(top);
    left: anchor(left);
    right: anchor(right);
    bottom: anchor(bottom);
    pointer-events: none;
    position-anchor: --myanchor;
    transition: all 0.3s linear;
    mix-blend-mode: difference;
}

