*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2rem;
    position: absolute;
    position-anchor: --myBtn;
    top: anchor(--myBtn bottom);
}

.box{
    width: 200px;
    height: 200px;
}

.red{
    background-color: rgb(167, 9, 9);
}

.blue{
    background-color: rgb(17, 17, 150);
}

.green{
    background-color: green;
}

.anchor-box{
    background-color: rgb(212, 211, 211);
    height: 50px;
    width: 50px;
    position: absolute;
}